{% extends 'base.html' %}

{% block meta_title %} Update entity #{{ id }} {% endblock meta_title %}

{% block content %}

    {% include 'form-errors.html' %}
    {% import 'form-macros.html' as macros %}

    <div class="col-md-6">
        {% call macros.render_form(form, action_url=url_for("entity.update", id=id), action_text="Update", btn_class="btn btn-warning") %}
            {{ macros.render_field(form.name, label_visible=True, placeholder="Name of the entity", type="text", show_help=True) }}
            {{ macros.render_field(form.content, label_visible=True, placeholder="Entity content", type="text", show_help=True) }}
        {% endcall %}
    </div>

{% endblock %}